@import "src/static/css/breakpoints";

.tableWrapper {
  display: flex;
  width: 80vw;
  max-width: 80vw;
  //width: 100%;
}

@media (max-width: $screen-2xs-max) {
  .tableWrapper {
    width: 100vw;
  }
}
