@import "breakpoints";
.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-inline: auto;
    background: #F9FBFC;
    padding-bottom: 80px;
}

.tablesWrapper{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: $screen-2xs-max) {
    .tablesWrapper{
        margin-top: 20px;
    }
}