:root {
 /* container */
 --container-width: 1272px;
 --container-width-mobile: 100%;
 --container-padding: 20px;
 --container-padding-mobile: 16px;

 /* colors */
 --color-bg: var(--color-white);
 --color-white: #fff;
 --color-primary: #357efe;
 --color-primary-active: #2432e8;
 --color-background-gray: #F6F6FA;
 --color-text-gray: #828EA4;
 --color-notify-gray: #CFCFDE;
 --color-text: #232727;
 --color-text-title: #151618;
 --color-text-red: #FF4242;
 --color-border-gray: #E8E8F1;
 --color-background-active: #EBF2FF;
 --color-primary-disabled-dark: #abbed1;
 --color-primary-disabled-light: #eef5fc;
 --overlay-bg: rgb(0 0 0 / 60%);
 /* transitions */
 --trs-base: 0.15s;
 --trs-dropdown: 0.25s;
 --trs-collapse: 0.3s;
 --trs-overlay: 0.25s;

 /* border radius */
 --border-radius-small: 8px;
 --border-radius-base: 10px;
 --border-radius-large: 15px;
 --border-radius-largest: 20px;

 /* text */
 --ff-base: 'Gilroy', sans-serif;
 --fw-regular: 400;
 --fw-medium: 500;
 --fw-semibold: 600;
 --fw-bold: 700;

 /* transitions */
 --trs-base: 0.15s;
 --trs-dropdown: 0.25s;
 --trs-collapse: 0.3s;
 --trs-overlay: 0.25s;
}
