@import "src/static/css/breakpoints";

.onboardWrapper {
 margin-top: 40px;
 width: 80vw;
 height: 595px;
}

.title {
 font-weight: 600;
 font-size: 22px;
 line-height: 27px;
 color: var(--color-text-title);
 margin-bottom: 18px;
}

.onboardContent {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
}

.onBoardOptionContainer {
 display: flex;
 flex-direction: column;
 gap: 26px;
}

.option {
 display: flex;
 align-items: center;
 gap: 19px;
 padding: 14px 12px 14px 8px;
 background: var(--color-background-gray);
 border-radius: 10px;
 max-width: 648px;
 cursor: pointer;

 &_active {
	background-color: #153266;
 }
}

.optionText {
 font-weight: 400;
 font-size: 18px;
 line-height: 140%;
 color: var(--color-text-gray);

 &_active {
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: #fff;
 }
}

.optionNumber {
 min-width: 38px;
 min-height: 38px;
 border: 2px solid #A7A7BC;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #A7A7BC;
 font-weight: 600;
 font-size: 22px;
 line-height: 27px;

 &_active {
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
 }
}

.btn{
 width: 257px;
 cursor: pointer;
}

.onboardImage {
 max-width: 584px;
}

.onboardImageOne {
 height: 250px;
 max-width: 584px;
}

.onboardImageTwo {
 height: 367px;
 max-width: 584px;
}

.onboardImageThree {
 height: 548px;
 max-width: 584px;
}
@media (max-width: 1500px) {
 .optionText {
  font-size: 15px;

  &_active {
   font-size: 16px;
  }
 }
 .option {
  max-width: 465px;
 }
 .onboardImageOne {
  height: 165px;
  max-width: 384px;
  object-fit: contain;
 }

 .onboardImageTwo {
  height: 242px;
  max-width: 384px;
  object-fit: contain;
 }

 .onboardImageThree {
  height: 362px;
  max-width: 384px;
  object-fit: contain;
 }
}
