@import "src/static/css/breakpoints";

.tableWrapper {
  display: flex;
  width: 1272px;
}

.table {
  background: #fff;
  border-spacing: 0;
  padding: 0;
  width: 100%;
  min-width: 432px;
  border: 1px solid var(--color-border-gray);
  border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);

  & tr {
    padding: 0 0 0 16px;
    display: flex;
    border: 1px solid var(--color-border-gray);
    border-right: none;
    border-left: none;
    border-top: none;

    & td {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      min-height: 50px;
      width: 100%;

      &:hover .delete {
        background-image: url("../../static/images/delete-red.svg");
      }

      & div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #151618;
      }

      .delete {
        width: 30px;
        min-width: 30px;
        height: 30px;
        margin-right: 16px;
        background-image: none;
        cursor: pointer;

        &:hover {
          background-image: url("../../static/images/delete-red-fill.svg");
        }
      }
    }
  }

  & tr:last-child {
    border-bottom: none;
  }

  & tr:first-child {
    color: var(--color-text-gray);

    & td {
      display: flex !important;
      justify-content: space-between;
      gap: 16px;
      color: var(--color-text-gray) !important;
    }
  }
}


.wrapperTable {
  border-spacing: 0;
}

.scrollInner {
  max-width: 841px;
  overflow-x: scroll;
  direction: rtl;
  border: 1px solid var(--color-border-gray);
  border-left: none;
  border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;

  &::-webkit-scrollbar {
    width: 1px;
    height: 6px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    width: 1px;
    height: 6px;
    background-color: var(--color-text-gray);
    border-radius: 100px;
  }
}

.tableTwo {
  background: #fff;
  max-width: 841px;
  overflow: auto;
  border-spacing: 0;

  & tr {
    display: flex;
    min-height: 50px;
    border-bottom: 1px solid var(--color-border-gray);

    & td {
      min-height: 50px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #232727;
      width: 120px;
      min-width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      direction: ltr;
      border-right: 1px solid var(--color-border-gray);

      .range {
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23px;
        padding: 0 6px;

        &_positive {
          background: #DDF6D4;
          color: #53D026;
        }

        &_negative {
          background: #FFD9D9;
          color: #FF4242;
        }
      }
    }

    & td:first-child {
      border-right: none;
    }
  }

  & tr:first-child {
    & td {
      color: var(--color-text-gray);
    }
  }

  & tr:last-child {
    border-bottom: none;
  }
}

.tableShowScroll {
  padding-bottom: 2px;

  & tr {
    border-bottom: 1px solid var(--color-border-gray);
  }

  & tr:last-child {
    border-bottom: 1px solid var(--color-border-gray);
  }
}

.arrowBottom {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("../../static/images/arrow-bottom-blue.svg");
}

.arrowTop {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("../../static/images/arrow-top-blue.svg");
}

.pvzBlock {
  background: #F6F6FA;

  & tr {
    min-height: 50px;
    border-bottom: none;

    & td {
      border-bottom: 1px solid #D6D6E7;
      padding: 0;
      color: var(--color-text-gray);
      min-height: 50px;
    }

    & td:first-child {
      position: relative;
      margin-left: 28px;
      padding-left: 53px;
      border-bottom: none;
      border-spacing: 3px;
      border-left: 1px solid #D6D6E7;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;

      .line {
        position: absolute;
        top: 24px;
        left: 0;
        width: 39px;
        height: 1px;
        background: #D6D6E7;
      }
    }
  }
}

.pvzBlockTwo {
  background: #F6F6FA;

  & tr {
    min-height: 50px;
    max-height: 50px;

    & td {
      //border-bottom: 1px solid #D6D6E7;
      padding: 0;
      color: #232727 !important;
    }
  }

  & tr:last-child {
    border-bottom: none;

    & td {
      border-bottom: none;
    }
  }
}

.openRow {
  background: #F6F6FA;
  border-bottom: none !important;
}

.openRowTwo {
  background: #F6F6FA;
}

.dashedBorder {
  height: 100%;
  width: 100%;
  border-top: 1px dashed #D6D6E7 !important;
  min-height: 47px;
  display: flex;
  align-items: center;
  padding-right: 16px;
}

@media (max-width: $screen-2xs-max) {
  .tableWrapper {
    width: 100vw;
  }
  .table {
    min-width: 99px;
    width: 99px;
    max-width: 99px;
    border-radius: 0;

    & tr {
      width: 99px;
      min-height: 48px;
      height: 48px;

      & td {
        min-height: 48px;
        height: 48px;
        max-width: 99px;


        & div {
          gap: 9px;
          font-size: 10px;
          line-height: 12px;
        }

        .delete {
          display: none;
        }
      }
    }

    & tr:first-child {
      height: 28px;
      min-height: 28px;

      & td {
        height: 28px;
        min-height: 28px;

        & p {
          font-size: 10px;
          line-height: 12px;
        }
      }

    }
  }
  .scrollInner {
    max-width: calc(100vw - 100px);
    border-radius: 0;
  }
  .tableTwo {
    max-width:calc(100vw - 99px);

    & tr {
      display: flex;
      min-height: 48px;
      border-bottom: 1px solid var(--color-border-gray);

      & td {
        min-height: 48px;
        font-size: 14px;
        line-height: 17px;
        width: 81px;
        min-width: 81px;
        gap: 4px;

        .range {
          font-size: 14px;
          line-height: 1px;
          height: 18px;
          padding: 0 2px;
        }
      }
    }
    & tr:first-child {
      max-height: 28px;
      min-height: 28px;
      & td {
        max-height: 28px;
        min-height: 28px;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
  .arrowBottom {
    width: 18px;
    min-width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .arrowTop {
    width: 18px;
    min-width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .pvzBlock {

    & tr {
      min-height: 48px;

      & td {
        min-height: 48px;

        & div {
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: #828EA4;
          //word-break: break-all;
        }
      }

      & td:first-child {
        position: relative;
        margin-left: 0;
        padding-left: 0;
        border-spacing: 0;
        font-size: 10px;
        line-height: 12px;
        border-left: none;
        min-height: 48px;
      }
    }
    & tr:first-child{
      height: 48px;
      display: flex;
      align-items: center;
    }
  }
  .dashedBorder {
    min-height: 48px;
    padding-right: 13px;
  }
  .pvzBlockTwo {

    & tr {
      min-height: 48px;
      max-height: 48px;
    }

    & tr:last-child {
      border-bottom: none;

      & td {
        border-bottom: none;
      }
    }
    & tr:first-child{
      min-height: 48px;
      max-height: 48px;
      & td{
        min-height: 48px;
        max-height: 48px;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  .wrapperTable {

  }
}
