@import "src/static/css/breakpoints";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  flex: 1 0 auto;
  min-width: var(--container-width);
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  background: var(--overlay-bg);
  opacity: 0;
  visibility: hidden;
  transition: var(--trs-overlay);
}

:global(.state--top-nav-open) .overlay {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1500px) {
  .main {
    margin-left: 100px;
  }
}

@media (max-width: $screen-2xs-max) {
  .main {
    min-width: var(--container-width-mobile);
    max-width: var(--container-width-mobile);
  }
}