.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--loader-bg);
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: var(--trs-base);

  &_white {
    background: #fff;
  }
}

.container {
  display: flex;
  flex: 1 1 auto;
  position: sticky;
  top: 0;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
}

.icon {
  display: block;
  width: 70px;
  height: 70px;
  color: var(--color-primary);
}

.overlayActive {
  opacity: 1;
  visibility: visible;
}

.overlayActive .icon {
  animation: loader-spin 1s infinite linear;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
